body
{
    font-family: 'Rowdies', cursive;
    background-color: #33FFE9;
}

.header_div{
    background-color: aquamarine;
    color:blue;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold; 
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}